@include block("section-preview") {
  width: 100%;
  height: 25%;
  max-height: 270px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  background: url("_images/preview-background.png") center bottom no-repeat;
  background-size: contain, 60px 55px, 55px 60px;

  @include for($xxs-screens) {
    display: none;
  }

  @media (max-height: 450px) {
    display: none;
  }
}

@include block('header-info') {
  height: 100vh;
  background: url("_images/chartBg.svg") center bottom no-repeat,
              url("_images/grid-background.png") repeat;

  position: relative;
  overflow: auto;
  @include element("lite"){
    background: none;
    position: absolute;
    height: 73px;
    overflow: visible;
  }

  @include block('exchange-block') {
    display: block;
    position: absolute;
    bottom: 220px;
    left: 0;
    right: 0;
    color: $base-violet;
    z-index: 0;
    background: transparent;
    height: auto;
    min-height: 122px;

    @media (min-height: 650px) and (max-height: 768px) {
      bottom: 180px;
    }

    @media (min-height: 550px) and (max-height: 650px) {
      bottom: 130px;
    }

    @media (min-height: 450px) and (max-height: 550px) {
      bottom: 80px;
    }

    @media (max-height: 450px) {
      bottom: 20px;
    }

    @include for($l-screens) {
      padding: 30px 20px;
    }

    @include for($xxs-screens) {
      display: none;
    }

    @include element('info') {
      display: flex;
      width: 100%;
      justify-content: center;
      transition: opacity .4s ease-in-out;
    }

    @include element('item') {
      position: relative;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      flex: 1;

      &:nth-child(odd) {
        margin-top: -30px;
      }
      &:nth-child(even) {
        margin-left: -20px;
        margin-top: 30px;
        @media (min-height: 450px) and (max-height: 550px) {
          margin-top: 15px;
        }
        @include for($s-screens) {
          margin-left: -80px;
        }
      }
      &:nth-child(4) {
        margin-right: 350px;

        justify-content: flex-start;
      }



      @include for($l-screens) {
        flex-basis: auto;
        justify-content: center;
        width: auto;


        &:nth-child(odd) {
          margin-left: 0;
        }

        &:nth-child(4) {
          margin-right: 0;
        }
      }

    }
  }

  @include element("down") {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;

    @include for($xxs-screens) {
      display: none;
    }

    &:after {
      content: "";
      width: 42px;
      height: 42px;
      display: block;
      border: 2px solid $base-violet;
      border-radius: 50%;
      margin-top: 3px;
      margin-left: 3px;
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
      .#{"header-info" + $element-separator + "ellipse-first"} {
        opacity: 0;
      }
      .#{"header-info" + $element-separator + "ellipse-second"} {
        opacity: 0;
      }
    }

    @include block("icon") {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      & svg {
        stroke: $base-violet;
      }
    }

    @include element("chevron") {
      width: 24px;
      height: 24px;
      transform: rotate(180deg);
      top: 12px;
      left: 12px;
    }

    @include element("ellipse-first") {
      transition: opacity .3s;
      opacity: 1;
      animation: rotating_reverse 3s linear infinite;
    }

    @include element("ellipse-second") {
      width: 36px;
      height: 36px;
      top: 6px;
      left: 6px;
      opacity: 1;
      transform: rotate(180deg);
      animation: rotating 2.5s linear infinite;
      transition: opacity .3s;
    }
  }
}

@include block("header-text") {
  position: absolute;
  top: 30%;
  max-height: calc(100vh - 195px);
  transform: translateY(-30%);
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;

  @media screen and (max-height: 900px) {
    top: 170px;
  }

  @media (max-width: 768px) and (max-height: 900px) {
    top: 115px !important;
  }

  @include for($s-screens) {
    position: relative;
    top: 142px;
    transform: none;
  }

  @include element("imac") {
    flex: 5;
    height: 100%;
    width: 100%;

    &.image img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }

    @include for($l-screens) {
      flex: 3;
    }

    @include for($m-screens) {
      display: none !important;
    }
  }


  @include element("info-block") {
    color: #25165B;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;

    @include element("title") {
      font-family: Roboto, sans-serif;
      font-size: 60px;
      line-height: normal;
      font-weight: 100;
      letter-spacing: -1.8px;
      text-align: center;

      @media screen and (max-height: 900px) {
        font-size: 32px;
      }

      @include for($m-screens) {
        font-size: 44px;
        max-width: 390px;
      }

      @include smartphones() {
        font-size: 32px;
        font-weight: 300;
        max-width: 350px;
      }

      @media (min-height: 300px) and (max-height: 599px) {
        font-size: 22px;
      }


      @include modifier("bold") {
        font-weight: 600;
        @include smartphones() {
          font-weight: 500;
        }
      }
    }

    @include element("capabilities") {
      margin-top: 32px;
      list-style: none;
      line-height: 32px;
      padding-left: 0;
      color: #25165B;
      font-weight: 500;

      @media screen and (max-height: 700px) {
        margin-top: 8px;
      }

      @include smartphones() {
        font-weight: 500;
        line-height: 24px;
        font-size: 14px;
        text-align: center;

        color: rgba(37, 22, 91, 0.45);
      }

      @include block("icon") {
        width: 20px;
        margin-bottom: -4px;
        margin-right: 8px;

        & svg {
          stroke: #06d79c;
        }
      }
    }

    @include element("sign-block") {
      margin-top: 48px;

      @media (min-height:300px) and (max-height: 900px) {
        margin-top: 10px;
      }

      @include smartphones() {
        margin-top: 24px;
      }

      @include element("android") {
        width: 153px;
        height: 46px;
        background-size: cover;
        cursor: pointer;
        background-color: transparent;
        box-shadow: none;
        border: none;

        @include smartphones() {
          display: block;
          margin: 32px auto 0 auto;
        }
      }

      @include element("mac") {
        width: 156px;
        height: 40px;
        background-size: cover;
        cursor: pointer;
        background-color: transparent;
        box-shadow: none;
        border: none;


        @include smartphones() {
          display: block;
          margin: 20px auto 0 auto;
        }
      }

      @include element("signup") {
        cursor: pointer;
        width: 168px;
        height: 56px;
        border: 1px solid rgba(37, 22, 91, 0.15);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 2px;
        background-color: #4B72FF;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: background-color .3s;
        z-index: 2;

        @include for($xs-screens) {
          display: none !important;
        }

        &:hover {
          background-color: #4B72cd;
        }

        @include smartphones() {
          height:48px;
          width: 278px;
          display: block;
          margin: 0 auto;
        }

      }

      @include element("learn") {
        cursor: pointer;
        width: 168px;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid rgba(37, 22, 91, 0.15);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 2px;
        color: $base-violet;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: background-color .3s;
        margin: 0 0 0 10px;
        z-index: 2;

        @include for($s-screens) {
          margin: 20px 0 0 10px;
        }

        @include smartphones() {
          height: 48px;
          width: 278px;
          display: block;
          margin: 20px auto;
        }

        @include modifier("market-cap") {
          display: none;
          @include for($xs-screens) {
            display: block;
          }
        }

        @include modifier("sign-up") {
          display: none;
          background: $light-blue;
          color: $white-color;
          @include for($xs-screens) {
            display: block !important;
          }

        }
      }
    }

  }
}



