@include block("table-section") {
	width: 100%;
	max-width: 960px;
	margin: 64px auto 0;
	background-color: $white-color;

	@include element("capture") {
		height: 72px;
		vertical-align: middle;
		line-height: 72px;
	}

	@include element("header-title") {
		padding-left: 24px;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		color: $base-violet;
	}

	@include element("header-desc") {
		padding-right: 24px;
		font-size: 12px;
		text-align: right;
		color: rgba($base-violet, 0.45);
	}

	&__header-icon.icon {
		width: 16px;
		margin-left: 16px;
		vertical-align: middle;

		svg {
			stroke: $base-violet;
		}
	}

	@include element("row") {
		height: 72px;
		border-top: 1px solid rgba($dark-black-color, 0.1);
		vertical-align: middle;
	}

	@include element("column-first") {
		width: 23%;
		padding-left: 24px;
		background-color: $first-column-highlight;
		font-size: 14px;
		font-weight: bold;
		color: $base-violet;

		@include modifier("darker") {
			// background-color: #d3d6e6;
		}
	}

	@include element("column-second") {
		padding-left: 30px;
		font-size: 14px;
		color: $base-violet;
	}

	@include element("column-third") {
		padding-right: 24px;
		text-align: right;
	}

	@include element("btn") {
		border: none;
		background: none;
		box-shadow: none;
		font-size: 14px;
		color: $light-blue;
		cursor: pointer;
	}
}

@include block("table-wrapper") {
	overflow-x: auto;
}

@include block("table") {
	width: 100%;

	@include element("row") {
		thead > & {
			background-color: #F5F6FC;
			color: #25165B;
		}

		tbody > & {
			color: #9CA4AA;

			&:not(:last-child) {
				border-bottom: 1px solid $table-border;
			}
		}
	}

	@include element("cell") {
		padding: 24px 32px;

		@include for($xl-screens) {
			padding: 16px 20px;
		}

		@include for($l-screens) {
			padding: 10px;
			font-size: 14px;
		}

		@include for($m-screens) {
			padding: 12px 4px;
		}

		& + &:not(.table__cell--merged) {
			border-left: 1px solid $table-border;
		}


		@include modifier("left-aligned") {
			text-align: left;
		}

		@include modifier("center-aligned") {
			text-align: center;
		}

		@include modifier("right-aligned") {
			text-align: right;
		}

		@include modifier("green") {
			color: #06D79C;
		}

		@include modifier("red") {
			color: #FF4B4B;
		}

		> a {
			color: #5687F7;
		}
	}
}