@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNovaLight.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNovaRegular.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova-Semibold.otf);
    font-weight: 500;
}

body,
.wrapper {
	width: 100%;
	margin: 0 auto;
	font-family: ProximaNova;
	display: flex;
	flex-direction: row;
}

.sign-content {
	background: #E5E5E5;
	width: 1147px;
}

.sign-content-box {
	padding-top: 89px;
	padding-left: 14%;
	width: 340px;
}

header h1 {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -0.888889px;
	color: #262626;
	margin-bottom: 0;
}

header h2 {
	font-size: 16px;
	letter-spacing: -0.444444px;
	color: #AAAAAA;
}

main {
	margin-top: 42px;
}

.form-canvas {
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	border-radius: 4px;
	width: 340px;
}

.form-checkbox {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding-left: 17px;
	font-weight: bold;
	font-size: 16px;
	color: #aaa;
	height: 60px;
	border-bottom: 1px solid #E9E9E9;
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 34%;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #E5E5E5;
}

.container input:checked ~ .checkmark {
    background-color: #0F48C7;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
	border-radius: 50%;
	background: #0F48C7;
	border: 1px solid #fff;
}

.form-data {
	height: 60px;
	border-bottom: 1px solid #E9E9E9;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.form-data:nth-child(4) {
	border-bottom: none;
}

.form-data label {
	font-size: 16px;
	color: #262626;
	padding-left: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	transition-property: color,bottom,transform;
}

.form-data label span {
	font-size: 13px;
	opacity: 0.5;
}

.form-data input {
	width: 98%;
	border-color: transparent;
	height: 18px;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	height: 40px;
	margin-bottom: -30px;
}

.form-data input:valid~label,
.form-data input:placeholder-shown~label,
.form-data input:not([disabled]):focus~label {
		transform-origin: left bottom;
    transform: scale(.75) translateY(-35px) translateX(5px);
    outline: none;
}

.form-data label {
	transition: all .3s;
}

.password-note {
	background: #EEF3FF;
	line-height: 12px;
	font-size: 10px;
	color: rgba(38,38,38,0.5);
	padding-left: 20px;
	padding-right: 80px;
	display: flex;
	justify-content: center;
	height: 30px;
}

.password-note p {
	margin-top: 3px;
}

.currency-row {
	height: 57px;
	display: flex;
	flex-direction: row;
}

.currency-row-preferred {
	width: 222px;
	color: rgba(38,38,38,0.5);
	font-weight: bold;
	padding-left: 20px;
	display: flex;
	align-items: center;
	border-right: 1px solid #E9E9E9;
}

.currency-row-usd {
	padding-left: 13px;
	font-weight: bold;
	color: #262626;
	display: flex;
	align-items: center;
}

.currency-row-usd img {
	padding-left: 17px;
}

.agreement p {
	line-height: 16px;
	font-size: 12px;
	color: rgba(38,38,38,0.5);
	padding-left: 54px;
	margin-top: 8px;
}

.agreement {
  	position: relative;
}

.agreement input {
  	position: absolute;
  	opacity: 0;
}

.checkmark-agreement {
	border: 1px solid #AAAAAA;
	border-radius: 2px;
  	height: 18px;
  	width: 18px;
  	position: absolute;
  	top: -55px;
  	left: 19px;
}

.agreement input:checked ~ .checkmark-agreement {
  	color: #aaa;
}

.checkmark-agreement:after {
  	content: "";
  	position: absolute;
  	display: none;
}

.agreement input:checked ~ .checkmark-agreement:after {
  	display: block;
}

.agreement .checkmark-agreement:after {
  left: 5px;
  top: 0;
  width: 7px;
  height: 12px;
  border: solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.button-sign {
	background: #0F48C7;
	border-radius: 4px;
	width: 100%;
	height: 62px;
	font-size: 16px;
	color: #fff;
	margin-top: 5px;
}

.confirm {
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	color: #AAAAAA;
	padding-top: 10px;
}

.confirm a {
	text-decoration: none;
	color: #0F48C7;
	font-weight: bold;
}

footer {
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: rgba(38,38,38,0.3);
	padding-top: 64px;
	padding-bottom: 20px;
}

footer a {
	text-decoration: none;
	color: #0F48C7;
	font-weight: bold;
}

.picture-content {
	background-image: url(../images/shutterstock.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: -1;
}

.picture-content:after {
	position: absolute;
	content: "";
	top: 32px;
	right: 50px;
	background-image: url(../images/combined-shape.svg);
	z-index: 1;
	width: 15px;
	height: 15px;
}

.picture-content ul {
	line-height: 36px;
	font-size: 24px;
	color: #fff;
	padding-top: 127px;
	padding-left: 13%;
	padding-right: 27%;
	font-weight: normal;
}

.picture-content ul li {
	display: inline-block;
	list-style: none;
}


@media only screen and (max-width: 1182px) {
    .picture-content ul li {
    	display: block;
    }
}

@media only screen and (max-width: 867px) {
	.picture-content ul {
    	padding-right: 0;
    }
}

@media only screen and (max-width: 715px) {
	body {
		flex-direction: column;
	}

	.sign-content {
    	width: auto;
    }
}

@media only screen and (max-width: 440px) {
	.sign-content-box {
		padding-left: 0;
		width: 100%;
	}

	.form-canvas {
		border-radius: 0;
		width: 100%;
	}

	header h1, h2 {
		text-align: center;
	}
	
	.picture-content ul {
    	padding-left: 0;
    	padding-right: 0;
    	text-align: center;
    }

	.picture-content ul li {
		display: block;
	}

	.button-sign {
		border-radius: 0;
	}

	.confirm {
		padding-right: 10px;
		padding-left: 10px;	
	}
}

