<html lang="en">
<head>
    <title>Bitsgap</title>
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#fff"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trading, Arbitrage, Portfolio and many other features with a lightning-fast and secure access to most trusted cryptocurrency exchanges. Kraken, Binance, Poloniex and 11 other crypto exchanges within one interface! Sign up for free and trade with ease within one unified platform." />
    <meta property="og:url"           content="https://bitsgap.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Bitsgap" />
    <meta property="og:description"   content="Trading, Arbitrage, Portfolio and many other features with a lightning-fast and secure access to most trusted cryptocurrency exchanges. Kraken, Binance, Poloniex and 11 other crypto exchanges within one interface! Sign up for free and trade with ease within one unified platform." />
    <meta property="og:image"         content="https://bitsgap.com/images/e2HFAcU.png" />

    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />-->

    <!--<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">-->
    <!--<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">-->
    <link rel="apple-touch-icon" sizes="76x76" href="/app_assets/76x76.png">
    <!--<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">-->
    <link rel="apple-touch-icon" sizes="144x144" href="/app_assets/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/app_assets/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/app_assets/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/app_assets/192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/app_assets/96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/app_assets/144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<noscript>
    <h1>Please enable JavaScript</h1>
</noscript>

<div id="svgContainer"></div>
<div id="application"></div>

<script type="text/javascript">window.__initState__={};window.__initRoute__={"location":"/"}</script>
<script type="text/javascript">window.ASSETS={}</script>
<script>
    const resource = document.createElement('link');
    resource.setAttribute("rel", "stylesheet");
    resource.setAttribute("href","https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");
    resource.setAttribute("type","text/css");
    const head = document.getElementsByTagName('head')[0];
    head.appendChild(resource);
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-112734284-1', 'auto');
    ga('send', 'pageview');
</script>
<script>
    if (navigator.serviceWorker.controller) {
        console.log('[SW] Active service worker found, no need to register')
    } else {
        //Register the ServiceWorker
        navigator.serviceWorker.register('/sw.js', {
            scope: './'
        }).then(function(reg) {
            console.log('[SW] Service worker has been registered for scope:'+ reg.scope);
        });
    }
</script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1321152
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1321152" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
<span style="display: none"><%= htmlWebpackPlugin.options.hash %></span>
</body>
</html>