$xs-screens: 480px;
$xxxs-screens: 570px;
$xxs-screens: 690px;
$s-screens: 768px;
$sm-screens: 900px;
$m-screens: 1024px;
$ml-screens: 1100px;
$mx-screens: 1279px;
$l-screens: 1366px;
$xl-screens: 1600px;
$xxl-screens: 1700px;
$xxxl-screens: 2000px;

$navigation-min-width: 1023px;

$trading-height-breakpoint: 900px;