// Header
$dark-color: #15151c;
$dark-black-color: #070709;
$white-color: #fff;


$icon-red: #e80047;
$icon-green: #06d79c;

// Input
$input-placeholder-color: rgb(195, 195, 197);
$input-text-color: $dark-color;
$input-border-color: #ccc;

//table
$base-violet: #25165B;
$light-violet: #9D99B2;
$light-blue: #4B72FF;
$first-column-highlight: #F5F6FC;
$table-border: #ECECEC;
$header-bg-color:#F5F6FC;
$favorite-grey: #E5E5E5;

//Menu
$gray-link: #261C53;
$dark-violet: #1A0C4B;
$violet-button: #150942;

//Chart
$chart-red: #F4898B;
$chart-blue: #5687F7;

//Currency:
$currency-red: #FF4B4B;
$currency-green: #06d79c;

//Login:
$login-password: rgba(37, 22, 91, 0.45);

//Portfolio
$trans-type-buy: #06d79c;
$trans-type-sell: #ff4b4b;
$trans-type-deposit: #BB6BD9;
$trans-type-withdrawal: #FE8820;
