@include block("button") {

  @include element("sign-up") {
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: #06d79c;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    width: 146px;
    height: 48px;
  }

  @include element("start") {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    width: 146px;
    height: 48px;
    margin-left: 16px;
  }

  @include element("pill") {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    color: rgba(37, 22, 91, 0.45);
    cursor: pointer;

    @include modifier("active") {
      background-color: #4B72FF;
      color: #FFFFFF;
      & > span{
        background-color: #4B72FF;
        color: #FFFFFF;
      }
    }

    @include modifier("active-centered") {
      position: absolute;
      top: calc(50% - 14px);
      left: calc(50% - 32px);
      background-color: #4B72FF;
      color: #FFFFFF;
      & > span{
        background-color: #4B72FF;
        color: #FFFFFF;
      }
    }
  }

  @include element("primary") {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    background-color: #5687F7;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    
    @include modifier("dark") {
      background: #2d2d3d;
    }
  }
  @include element("danger") {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    background-color: #FF4B4B;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
  }
}