@import '../utils/placeholder';

@include block('input-block') {
  display: inline-flex;
  width: 100%;
  justify-content: center;

  @include element('input') {
    border: none;
    outline: none;
    color: $input-text-color;
    font-size: 16px;
    padding: 10px 8px;
    appearance: none;

    @include placeholder {
      color: $input-placeholder-color;
    }
  }
  @include modifier("error"){
    color: $icon-red;
    & input{
      border-color: $icon-red;
    }
  }

}
