@include block("menu-button") {
    height: 72px;
    width: 72px;
    float: left;
    background: $violet-button;
    cursor: pointer;
    z-index: 10000;
    position: absolute;

    @include element("empty") {
        width: 32px;
        height: 72px;
        float: left;
        background: $dark-violet;
        cursor: pointer;
    }

    @include block("hamburger") {
        float: left;
        margin: 30px 0 0 26px;
        width: 16px;
        height: 18px;
        transform: rotate(180deg);

        @include modifier("opened") {
            transform: rotate(0deg);
            margin: 26px 0 0 28px;
        }

        @include element("hamburger-stripe1") {
            width: 16px;
            height: 6px;
            border-bottom: 2px solid $chart-blue;
        }
        @include element("hamburger-stripe2") {
            width: 12px;
            height: 6px;
            border-bottom: 2px solid $chart-blue;
        }
        @include element("hamburger-stripe3") {
            width: 8px;
            height: 6px;
            border-bottom: 2px solid $chart-blue;
        }

        @include element("name") {
            text-transform: uppercase;
            font-size: 12px;
            margin-left: 14px;
            line-height: 72px;
            font-weight: 900;
            color: $white-color;

            @include modifier("hidden") {
              display: none;
            }
        }
    }

    @include element("logo") {
        display: inline-block;
        height: 72px;
        float: left;
        border-right: 1px solid #E6E6E6;
        padding-right: 25px;
    }

    @include element("logo-word") {
        display: inline-block;
        height: 72px;
        padding-top: 25px;
        margin-left: 71px;
        float: left;
    }

    @include element("logo-image") {
        width: 72px;
        height: 72px;
        background: $dark-violet;
    }
}

@include block("top-heading") {
    height: 82px;
    @include element("currency-container") {
        height: 72px;
        background: $white-color;
    }

    @include block("currency-selector") {
        width: 130px;
        height: 72px;
        color: black;
        font-weight: bold;
        float: left;
        padding: 24px 0 0 16px;
        border-right: 1px solid rgba(202, 203, 215, 0.5);
        position: relative;
    }

    @include element("saved-tabs-wrapper") {
        position: absolute;
        width: calc(100% - 530px);
        left: 72px;
        transition: all 0.5s;
        z-index: 10000;

        @include modifier("hidden") {
            right: 4000px;
            left: initial !important;
        }
    }
}