@import '../variables/index';
@import '../utils/animation';

@include block('tab') {
  display: block;

  @include element('header') {
    display: inline-block;
    list-style: none;
    line-height: 42px;
    height: 48px;
    font-size: 14px;
    margin: -1px 0 1px 0;
    @include for($xxxs-screens) {
      font-size: 12px;
    }

    @include element('link') {
      color: $light-violet;
      display: inline-block;
      margin: 5px 10px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;

      @include modifier('selected') {
        color: $dark-violet;
        border-bottom: 2px solid $light-blue;
      }

    }
  }

  @include element('block') {
    position: relative;

    @include modifier('selected') {
      color: green;
    }

    @include element('panel') {
      animation-direction: alternate;
      animation-duration: .5s;
      animation-iteration-count: 1;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      width: 100%;

      @include modifier('selected') {
        animation-name: opacity-animation;
        height: auto;
        opacity: 1;
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
        visibility: visible;
      }

    }
  }

}