@include block("toggle-button") {
    display: inline-block;
    float: right;
    @include element("switch") {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 16px;

        & input {
            display: none;
            &:checked {
                background-color: $light-blue;
            }
        }
    }

    @include element("slider") {
        border: 1px solid rgba(37, 22, 91, 0.15);
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white-color;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        @include modifier("checked") {

            &:before {
                background-color: $light-blue !important;
                -webkit-transform: translateX(16px);
                -ms-transform: translateX(16px);
                transform: translateX(16px);
            }
        }

        &:before {
            border: 1px solid rgba(37, 22, 91, 0.15);
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            top: -1px;
            left: -1px;
            background-color: $white-color;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    @include modifier("disabled"){
        opacity: .45;
    }
}