@include block("top-navigation") {
  @include element("wrapper") {
    position: absolute;
    z-index: 9999;
    left: 92px;
    transition: all 0.3s;

    @include modifier("hidden") {
      left: -4000;
    }
  }

  @include element("nav") {
  }

  @include element("link-wrapper") {
    height: 72px;
    display: inline-block;
    float: left;
    padding: 27px 5px;
    margin: 0 6px;

    @include modifier("active") {
      border-bottom: 2px solid $light-blue;
    }

    @include for($xl-screens) {
      margin: 0 3px;
    }

    @include for($mx-screens) {
      margin: 0;
      padding: 27px 20px;
    }

    @include for($sm-screens) {
      margin: 0;
      padding: 27px 15px;
    }

    @include for($s-screens) {
      margin: 0;
      padding: 27px 10px;
    }
  }

  @include element("link") {
    font-size: 14px;
    font-weight: 500;
    color: $light-violet;
    text-decoration: none !important;
    transition: all .3s ease;
    position: relative;
    padding-left: 20px;

    &:hover {
      color: $dark-violet;
      svg {
        transition: all .3s ease;
        stroke: rgba($dark-violet, 0.45);
        fill: rgba($dark-violet, 0.45);
      }
    }
    @include modifier("active") {
      color: $dark-violet;
    }

    @include for($xl-screens) {
      font-size: 13px;
    }

    @include for($l-screens) {
      font-size: 12px;
      padding-left: 15px;
    }

    @include for($mx-screens) {
      padding: 5px 8px;
    }

    @include for($sm-screens) {
      padding: 0;
    }

  }

  @include element("text-item") {
    @include for($mx-screens) {
      display: none;
    }
  }

  @include element("icon") {
    width: 14px;
    margin-right: 5px;
    position: absolute;
    top: 1px;
    left: 0px;

    @include modifier("active") {
      svg {
        transition: all .3s ease;
        stroke: rgba($dark-violet, 0.45) !important;
        fill: rgba($dark-violet, 0.45) !important;
      }
    }

    @include for($l-screens) {
      width: 12px;
    }

    @include for($mx-screens) {
      width: 18px;
      top: -1px;
    }

    @include for($sm-screens) {
      width: 14px;
      top: -1px;
      left: -7px;
    }

    @include for($s-screens) {
      width: 10px;
      top: -1px;
      left: -5px;
    }

    svg {
      transition: all .3s ease;
      stroke: rgba($light-violet, 0.45);
      fill: rgba($light-violet, 0.45);
    }
  }
}