#svgContainer {
    width: 0;
    height: 0;
    overflow: hidden;
    // display: none;
}

.Select {
    z-index: 10;
}

.Select .Select-control {
    background: #FFFFFF;
    border: 1px solid #E8E6ED;
    box-sizing: border-box;
    border-radius: 0;
}

.Select.markets .marked {
    color: #6BA583;
}

.graph_market .Select-control {
    width: 128px;
}

@media screen and (max-width: 1466px) {
    .graph_market .Select-control {
        width: 100px;
    }
}

@media screen and (min-width: 1466px) {
    .graph_market {
        width: 160px !important;
    }
}

@media screen and (max-width: 1466px) {
    .graph_market {
        width: 132px !important;
    }
}

.graph_market {
    height: 48px !important;
    padding: 8px 16px;
    display: inline-block;
    border-right: 1px solid rgba(202, 203, 215, 0.5);
}

.graph_market .Select-input{
    height: 30px;
}

.graph_market .Select-placeholder {
    line-height: 30px;
}

.graph_market .Select-control {
    height: 30px;
}

.graph_market .Select-control .Select-value {
    padding-top: 8px;
}
.graph_market .Select-control .Select-value .Select-value-label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;

    color: #4B72FF !important;
}
.graph_market .Select-menu-outer {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    z-index: 1;
}
.Select.demo-keys-select{
    height: auto;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
}

.demo-keys-select .Select-control {
    border: 1px solid rgba(37, 22, 91, 0.15);
    border-radius: 2px;
    height: 30px;
}

.demo-keys-select .Select-input {
    height: 30px;
}

.demo-keys-select .Select-placeholder {
    line-height: 32px;
}

.trading-graph .Select-input{
    height: 30px;
}

.trading-graph .Select-placeholder {
    line-height: 30px;
}

.trading-graph .Select-control {
    height: 30px;
}

.recharts-tooltip-wrapper{
    font-size: 10px;
}
.recharts-tooltip-item-list li{
    line-height: 1;
}
.ReactVirtualized__List {
    outline: none;
}

.sketch-picker {
    position: fixed;
}

/* Dialog */

.ui-dialog-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ui-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    outline: 0 none;
    padding: 0 !important;;
    background-color: white;
    /*border: 1px solid #f6f6f6;*/
    border-radius: 4px;
    z-index: 99999;
    color: rgba(37, 22, 91, 0.45);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 15px 0px;
}

.ui-dialog.maximized{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.ui-dialog.minimized{
    position: fixed;
    bottom: 0;
    right: 0;
}

.ui-dialog .ui-dialog-titlebar {
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    padding: 0.5em;
    height: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.ui-dialog.react-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar .action-items {
    float: right;
    position: relative;
}

.ui-dialog .ui-dialog-titlebar .title {
    /*padding-left: 10px;*/
    /*padding-bottom: 5px;*/
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #25165B;
    margin-bottom: 0px;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
}

.ui-dialog .ui-dialog-content .section-cumulative {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.ui-dialog .ui-dialog-content .section-cumulative-active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #25165B;
    background-color: #F5F6FC;
}

.ui-dialog .ui-dialog-content .section-cumulative .markets {
    height: 35px;
    margin-left: 30px;
    padding-top: 7px;
    font-size: 12px;
}

.ui-dialog .ui-dialog-content .section-cumulative-active .markets {
    height: 35px;
    margin-left: 30px;
    padding-top: 7px;
    font-size: 12px;
}

.ui-dialog .ui-dialog-buttonpane {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: right;
    border-width: 1px 0 0 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    padding: 0.5em;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 .5em 0 .5em;
    cursor: pointer;
    padding: 0.1em 1em;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-weight: 500;
}

.ui-dialog .ui-dialog-buttonpane button:hover{
    border: 1px solid #BBBBBB;
}

.ui-dialog .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}
/* Dialog */

/* Select */
.select {
    height: 100% !important;
    width: 90% !important;
}
.ui-dialog-content div .tab__block .tab__panel--selected {
    overflow: visible !important;
}
.table-section-style__column-second .Select {
    z-index: unset;
}
/* Select */

.fd-btn-right a.freshwidget-theme{
    background: #fff !important;
    color: #605b7d !important;
    border-color: #fff !important;
}

.ui-dialog-overlay{
    background: rgba(37, 22, 91, 0.35);
    z-index: 10000;
    opacity: 1;
}
.ui-dialog .ui-dialog-titlebar{
    height: auto;
    padding: 0;
    border-bottom: none;
}

.recharts-legend-item-text {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4px;
    color: #9CA4AA;
}
