// Reset and dependencies
@import 'variables/colors';
@import 'utils/animation';

@import '~bootstrap/scss/bootstrap-reboot.scss';

* {
  box-sizing: border-box;
}

html, body {
  background: $white-color;
  color: white;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
#svgContainer svg:last-child {
  display: none;
  pointer-events: none;
  fill: none;
  stroke: none;
}

button, button:active, button:focus {
  outline:none;
}

ol, ul, dl {
  padding: 0;
  margin: 0;
}