@import 'utils/bem';
@import 'utils/responsive';
@import 'variables/index';

@include block('section') {
  display: block;
  min-height: 50px;
  width: 100%;
}

@import "./block/footer";

@import "./block/container";